<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of animals</title>
</head>
<body>

{% for item in data %}
<p>id: {{item.id}}, name: {{item.name}}, type: {{item.type}}, created at: {{item.created}}</p>
{% endfor %}
</body>
</html>